@reference 'tailwindcss';
@reference '../index.css';

@layer components.input-group {
  .input-group {
    @apply flex flex-col items-start gap-1;
  }

  .input-group--error {
    --input-group-status: var(--color-error-500);
  }

  .input-group--warning {
    --input-group-status: var(--color-warning-500);
  }

  .input-group--success {
    --input-group-status: var(--color-success-500);
  }

  .input-group--disabled>.input-group__text {
    @apply text-neutral-400;
  }
}