@reference 'tailwindcss';
@reference '../../theme.css';

@layer components.input {
  .input__box {
    --input-outline: var(--input-group-status, var(--color-primary-500));
    --input-outline-focus: var(--input-group-status-focus, var(--color-primary-600));
    --input-outline-active: var(--input-group-status-active, var(--color-primary-700));
    --input-ring: --alpha(var(--input-outline) / 25%);

    @apply transition-all w-full border-2 rounded-full px-4 py-3 outline-0 flex items-center gap-2;
    @apply border-(--input-outline) bg-white/20;
    @apply hover:border-(--input-outline-focus) focus-within:border-(--input-outline-focus);
    @apply focus-within:ring-4 focus-within:ring-(--input-ring);
    @apply disabled:bg-black/5 dark:disabled:bg-white/20 disabled:border-transparent;
  }

  .input__el {
    @apply placeholder:text-neutral-400 outline-none;
  }
}